Bienvenue sur GoodFriend, <%= @user.name %>

Une nouvelle dépense a été enregistré par <%= @expense.user.name %> pour un montant de <%= @expense.amount_money %>.

Votre balance dans cette dépense est de <%= @balance %> €.