<p>Bienvenue sur GoodFriend, <%= @user.name %></p>
<p>	Une nouvelle dépense a été enregistré par <%= @expense.user.name %> pour un montant de <%= @expense.amount_money %>. </p>
<p>
	Votre balance dans cette dépense est de <%= @balance %> €.
</p>